
#accordion {
    position: static;
}

.margin-bottom-zero {
    margin-bottom: 0;
}

/* Fonts */

.heading-font {
    font-family: 'Lato', sans-serif;
}

.refund-font {
    font-style: italic;
    font-size: 0.85em;
}

/* Colors */
.bg-blue {
    background-color: #0A5EA3;
}

.bg-orange {
    background-color: #F09D1D;
}

.font-orange {
    color: #F09D1D;
}

.font-blue {
    color: #0A5EA3;
}

.font-gold {
    color: gold;
}

.font-money {
    color: #85bb65;
}

.font-handshake {
    color: #eac086;
}